@using Hospitality.Common.DTO.CheckUp
@model Hospitality.Web.Models.PatientDataCheckUpViewModel

@{
    ViewData["Title"] = "Check Up";

}
<head>

    <link rel="stylesheet" href="~/css/CheckUp.css" asp-append-version="true" />
   <script src="@Url.Content("~/js/CheckUp.js")" defer></script>
</head>
<body>
    @{
        Model.DoctorId = Guid.Parse(User.Claims.Where(x => x.Type == "Id").First().Value);
    }
  <content>
      <div id="newForm">
        <div id="checkUpForm">
            <h3>Symptoms and recommendations </h3>
            <br>
            <div class="wrapper">
                @if (Model.IsInsured)
                {
                        <p class="insured">   Patient is Insured</p>
                }
                else
                {
                        <p class="notInsured">   Patient is not Insured</p>
                }

                <div>
                    @using (Html.BeginForm("Result", "Result", FormMethod.Post, new { target = "_blank" }))
                    {
                            <div style="display:none">
                                <input type="text" name="patientId" value=@Model.PatientId />
                            </div>
                            <input type="submit" id="resultInput" class="btn btn-primary btn-lg" value="Examination results"/>
                    }

                    @using (Html.BeginForm("Examination", "Examination", FormMethod.Post, new { target = "_blank" }))
                    {
                            <div style="display:none">
                            @Html.TextBoxFor(model=>model.PatientPesel)
                            @Html.TextBoxFor(model=>model.PatientId)
                            </div>
                            <br>

                            <input type="submit" id="orderInput" class="btn btn-primary btn-lg" value="Order an examination"/>
                    }

                </div>

            </div>



            @using (Html.BeginForm("NewCheckUp", "CheckUp", FormMethod.Post))
            {
                    <div style="display:none">
                    @Html.TextBoxFor(model=>model.PatientPesel)
                    @Html.TextBoxFor(model=>model.PatientId)
                    </div>

                    <div class="checkUp">
                    @Html.TextAreaFor(x => x.Description, new { @class = "checkUp",  @rows = 14, @value = @Model.Description, id="descriptionTextArea"})
                    </div>
                    <br>
                    <button id="finishButton" type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-dismiss="modal">  Finish visit  </button>

                 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header  text-black">
                                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body justify-content-center" id="modalContactBody">
                                        <p class="errorMessage fs-5">Would you like to save patient visit?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="modal-footer " id="modalForm">
                                            <button id="saveButton" type="submit" class="btn btn-secondary fs-6" data-save="modal">Save</button>
                                            <button id="cancelButton" type="button" class="btn btn-secondary fs-6" data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>      
                }



        </div>



             <div id="Temporary">
                            <div id="absolute">    
                        <form  id="kkk" action="/Temperature/AddNewTemperatureToPatient" method="POST" target="_blank">


                         <div style="display:none">
                        <input type="text" name="patientPesel" value=@Model.PatientPesel />
                         </div>
                         <input type="text" id="actualPatientTemperature" name="actualPatientTemperature" class="btn"  placeholder="Input temperature" onclick="closeWindow()"/>

                         <input type="submit" id="newTemperatureInput" class="btn btn-primary btn-lg" value="Save" />
                        </form>
                        </div>
                     <div> 
                    @using (Html.BeginForm("TemperatureControl", "Temperature", FormMethod.Post, new { target = "_blank" }))
                    {
                                            <div style="display:none">
                            @Html.TextBoxFor(model=>model.PatientPesel)

                                            </div>
                                            <br>

                    <input type="submit" id="temperatureInput" class="btn btn-primary btn-lg" value="Check Temperatures"/>
                    }

                   </div>
           </div>

           </div>
            
    </content>


            <script>
function closeWindow() {
window.close();
}
</script>
</body>





