@using Hospitality.Common.DTO.CheckUp
@model Hospitality.Web.Models.PatientDataCheckUpViewModel

@{
    ViewData["Title"] = "Check Up";

}
<head>

    <link rel="stylesheet" href="~/css/CheckUp.css" asp-append-version="true" />
</head>
<body>
    <content>
        <div id="checkUpForm">
            <h3>Symptoms and recommendations </h3>
            <br>
            <div class="wrapper">
                @if (Model.IsInsured)
                {
                    <p class="insured">   Patient is Insured</p>
                }
                else
                {
                    <p class="notInsured">   Patient is not Insured</p>
                }
                       
                <div class="relative">
                    <div class="absolute">    
                        <form action="/Temperature/AddNewTemperatureToPatient" method="POST" target="_blank">

                        <input type="text" name="actualPatientTemperature" class="btn "  placeholder="Enter patient's temperature" onclick="closeWindow()"/>

                         <div style="display:none">
                        <input type="text" name="patientPesel" value=@Model.PatientPesel />
                         </div>
                         <input type="submit" id="newTemperatureInput" class="btn btn-primary btn-lg" value="Record patient temperature" />
                        </form>
                        </div>
                     <div class="absolute"> 
                      @using (Html.BeginForm("TemperatureControl", "Temperature", FormMethod.Post, new { target = "_blank" }))
                    {
                        <div style="display:none">
                            @Html.TextBoxFor(model=>model.PatientPesel)
                        
                        </div>
                        <br>

                        <input type="submit" id="temperatureInput" class="btn btn-primary btn-lg" value="Check Temperatures"/>
                    }
                 
                    </div>
                    <div class="absolute"> 
                    @using (Html.BeginForm("Result", "Result", FormMethod.Post, new { target = "_blank" }))
                    {
                        <div style="display:none">
                            <input type="text" name="patientId" value=@Model.PatientId />
                        </div>
                        <input type="submit" id="resultInput" class="btn btn-primary btn-lg" value="Examination results"/>
                    }
                    </div>
                    <div class="absolute"> 
                    @using (Html.BeginForm("Examination", "Examination", FormMethod.Post, new { target = "_blank" }))
                    {
                        <div style="display:none">
                            @Html.TextBoxFor(model=>model.PatientPesel)
                            @Html.TextBoxFor(model=>model.PatientId)
                        </div>
                        <br>

                        <input type="submit" id="orderInput" class="btn btn-primary btn-lg" value="Order an examination"/>
                    }

                   </div>
                </div>

            </div>



            @using (Html.BeginForm("NewCheckUp", "CheckUp", FormMethod.Post))
            {
                <div style="display:none">
                    @Html.TextBoxFor(model=>model.PatientPesel)
                    @Html.TextBoxFor(model=>model.PatientId)
                </div>

                <div class="checkUp">
                    @Html.TextAreaFor(x => x.Description, new { @class = "checkUp",  @rows = 14, @value = @Model.Description})
                </div>
                <br>
                <button id="finishButton" typeof="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">  Finish visit  </button>
            }



        </div>
    </content>


            <script>
function closeWindow() {
window.close();
}
</script>
</body>
